body 
{
    margin : 0;
    padding : 0;

}

h1
{
    background-color: aqua;
    color: blue ;

    margin : 0;
    padding: 30px;

    text-align: center;


}

a
{
  color:aquamarine;
}


img
{
    width: 500px;

}